.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    p {
        margin: 35px;
    }

    a {
        font-size: 15px;
        color: #9538F2;
        margin: 70px;
        letter-spacing: 0em;
        display: block;
        text-align: end;
    }
}

/* INPUTS */

.form-login {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.form {
    font-size: 15px;
    width: 100%;
    height: 90px;
    position: relative;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    background: none;
    color: #9538F2;
    padding-top: 20px;
    border: none;
    outline: 0px;
}

.form .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #9538F2;
}

.form .lbl-nombre:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #9538F2;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #9538F2;
}

.form input:focus+.lbl-nombre .text-nomb,
.form input:valid+.lbl-nombre .text-nomb {
    transform: translateY(-150%);
    font-size: 14px;
    color: #9538F2;
}

.form input:focus+.lbl-nombre:after,
.form input:valid+.lbl-nombre:after {
    transform: translateX(0%);
}

/* FIN INPUTS */

.btns {
    .btn-login {
        width: 235px;
        justify-content: center;
    }
}

/* SELECT */
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select {
    max-width: 100%;
    position: relative;
}

.content-select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #ffffff;
    color: #9538F2;
    font-size: 1em;
    border: 2px solid rgb(149, 56, 242);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select select:hover {
    background: #F6E7F8;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i {
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 2px solid #9538F2;
    border-bottom: 2px solid #9538F2;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

.content-select:hover i {
    margin-top: 3px;
}