.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    p {
        margin: 35px;
    }

    a {
        font-size: 15px;
        color: #9538F2;
        margin: 70px;
        letter-spacing: 0em;
        display: block;
        text-align: end;
    }
}

.table-container {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #E2BDF2; /* Color de fondo */

  }
  
  .custom-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    text-align: left;
    
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #9538F2;
    padding: 8px;
  }
  
  /*Relleno*/
  .custom-table th {
    background-color: #E2BDF2;
    text-align: center;
  }
  /*Boton ver*/
  .custom-table td button {
    padding: 5px 10px;
    background-color: #9538F2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-table td button:hover {
    background-color: #9538F2;
  }

  
.custom-table td button:hover {
    background-color: #0056b3;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9538F2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #9538F2;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 80%;
    max-width: 500px;
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .form-login {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.form {
    font-size: 15px;
    width: 100%;
    height: 90px;
    position: relative;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    background: none;
    color: #9538F2;
    padding-top: 20px;
    border: none;
    outline: 0px;
}

.form .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #9538F2;
}

.form .lbl-nombre:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #9538F2;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.description-box {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .description-box h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }
  
  .description-box p {
    font-size: 16px;
    color: #666;
  }

  .table-container {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #E2BDF2; /* Color de fondo */

  }
  
  .custom-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    text-align: left;
    
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #9538F2;
    padding: 8px;
  }
  
  /*Relleno*/
  .custom-table th {
    background-color: #E2BDF2;
    text-align: center;
  }
  /*Boton ver*/
  .custom-table td button {
    padding: 5px 10px;
    background-color: #9538F2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-table td button:hover {
    background-color: #9538F2;
  }

  
.custom-table td button:hover {
    background-color: #0056b3;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9538F2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #9538F2;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 80%;
    max-width: 500px;
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
